#dashboard input{
  /* width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  resize: vertical;
  font-size: 20px; */
  -webkit-appearance: none;
  width: 60%;
  border: 0;
  font-family: inherit;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  align: left;
  border-bottom: 2px solid #C8CCD4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all .15s ease;
  &:hover;
    background: rgba(#223254,.03);
  &:not(:placeholder-shown);
    +: span;
      color: #5A667F;
      transform: translateY(-26px) scale(.75);
  &:focus;
    background: none;
    outline: none;
    +: span;
      color: #262729;
      transform: translateY(-26px) scale(.75);
      +: .border;
          transform: scaleX(1);
}

#dashboard .card {
  width: 80%;
  margin: 0 auto;
}

#dashboard .formlist {
  float: left;
  text-align: center;
  border-radius: 10px;
  border: solid 1px #BEBEBE;
  margin: 8px 8px 8px 8px;
  padding: 0 10px 5px 10px;
}


#dashboard h2{
  margin: 40px 0 40px 0;
}

#dashboard h3, #dashboard h5{
  text-align: left;
}


#dashboard button {
  border-radius: 10px;
  background-color: white;
  width: 175px;
  margin: 15px 10px 0 10px;
  padding: 5px 25px 5px 25px;
}

#dashboard button:hover {
  background-color: #DCDCDC;
  color: black;
}

#dashboard button:focus {
  background-color: #2C3E50;
  color: white;
}

#dashboard .header{
  cursor: pointer;
  border: solid 1px #e6e6e6;
  padding: 15px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
#dashboard .content{
  padding: 15px 0 15px 25px;
  cursor: pointer;
  border: solid 1px #e6e6e6;
  float: left;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  margin: 5px 15px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
